@page "/membership"

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 pricecards mx-auto">
                <div class="text-center">
                    <h3 class="pricetag">
                        Basic
                    </h3>
                    <h2 class="price">Free</h2>
                    <div class="pricingdetail">
                        <p>Limited Jobs Posting</p><br />
                        <p>5 Jobs Post</p><br />
                    </div>
                    <button class="btn subscribe">Subscribe</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 pricecards mx-auto">
                <div class="text-center">
                    <h3 class="pricetag">
                        Professional
                    </h3>
                    <h2 class="price">$50</h2>
                    <div class="pricingdetail">
                        <p>Unlimited Jobs Posting</p><br />
                        <p>1 month subscription</p><br />
                    </div>
                    <button class="btn subscribe">Subscribe</button>
                </div>
            </div>
        </div>

    </div>

    @code {

    }
