<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Main.css" rel="stylesheet" />
</head>
<body>
    <div class="main text-center">
        <h1> Blog Application </h1>
    </div>
    <div class="buttons text-center">
        <a class="button1 btn btn-success btn-sm col-sm-2" asp-controller="Login" asp-action="LoginPage"> Log in </a>
        <a class="button2 btn btn-primary btn-sm col-sm-2" asp-controller="SignUp" asp-action="SignUpPage"> Sign Up </a>
    </div>
</body>
</html>