<h3>hhhhhhhhhhhhhhhhhhdsdjkaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaacbjkkkkkkkkkkkkkkkkkkkkkkkkkkueeeeeeeeeeeeeeebcn
    jsbadhhssjdsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssdsdijdiiiiiiiiiwdnwnd</h3>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-body">
                <div class="wrapper">

                    <div class="form-container">
                        <div class="slide-controls">
                            <input type="radio" name="slide" id="login" checked>
                            <input type="radio" name="slide" id="signup">
                            <label for="login" class="slide login">Candidate</label>
                            <label for="signup" class="slide signup">Company</label>
                            <div class="slider-tab"></div>
                        </div>
                        <div class="form-inner">
                            <form action="#" class="login">
                                <div class="field">
                                    <input type="text" placeholder="Name" required>
                                </div>
                                <div class="field">
                                    <input type="email" placeholder="Email Address" required>
                                </div>
                                <div class="field">
                                    <input type="password" placeholder="Password" required>
                                </div>
                                <div class="field">
                                    <input type="password" placeholder="Confirm Password" required>
                                </div>

                                <div class="field btn">
                                    <div class="btn-layer"></div>
                                    <input type="submit" value="SignUp">
                                </div>

                            </form>
                            <form action="#" class="signup">
                                <div class="field">
                                    <input type="text" placeholder="Company Name" required>
                                </div>
                                <div class="field">
                                    <input type="email" placeholder="Email" required>
                                </div>
                                <div class="field">
                                    <input type="password" placeholder="Password" required>
                                </div>
                                <div class="field">
                                    <input type="password" placeholder="Confirm password" required>
                                </div>
                                <div class="field btn">
                                    <div class="btn-layer"></div>
                                    <input type="submit" value="Signup">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-body">
                <div class="container">
                    <div class="togglebtns text-center mb-5">
                        <button id="candidatebtn">Candidate</button>
                        <button id="companybtn">Company</button>
                    </div>
                    <div id="candidateloginform">
                        <form action="" method="POST">
                            <h2 class="text-center " style="color: white;">Candidate Login</h2>
                            <input class="form-control " type="email" placeholder="Email"><br>
                            <input class="form-control " type="password" placeholder="Password"><br>
                            <div class="formfooter text-right">
                                <input class="btn btn-primary" type="submit" value="Login">
                            </div>

                        </form>
                    </div>
                    <div id="companyloginform">
                        <form action="" method="POST">
                            <h2 class="text-center" style="color: white;">Company Login</h2>
                            <input class="form-control " type="email" placeholder="Name"><br>
                            <input class="form-control " type="password" placeholder="Password"><br>
                            <div class="formfooter text-right">
                                <input class="btn btn-primary" type="submit" value="Login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    body {
        background-color: black;
    }



    .row {
        margin-left: 10px;
        margin-right: 15px;
    }

    .top-bar {
        background-color: rgba(255, 255, 255, 0.2);
        padding-bottom: 15px;
    }

    .top-bar-left {
        margin-top: 10px;
    }

    span {
        color: #fff;
        font-family: sans-serif;
        font-size: 14px;
    }

    .mainspan {
        margin-left: 20px;
    }

    i {
        color: white;
    }

    .signupbtn {
        background: #1AAB8A;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        transition: 800ms ease all;
        outline: none;
        margin-top: 15px;
        float: right;
        transform: translate(-50%,-20%);
        border-radius: 5px;
    }

        .signupbtn:hover {
            background: #fff;
            color: #1AAB8A;
        }

    .loginbtn {
        background: #2980b9;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        transition: 800ms ease all;
        outline: none;
        margin-top: 15px;
        float: right;
        transform: translate(-50%,-20%);
        border-radius: 5px;
    }

        .loginbtn:hover {
            background: white;
            color: #2980b9;
        }

    .modal-content {
        background-color: rgba(255, 255, 255, 0.03);
        backdrop-filter: blur(5px);
    }

    .modal {
        background-color: rgba(100, 100, 100, 0);
    }

    .modal-header {
        border: none;
    }

    .modal-footer {
        border: none;
    }

    .modal-title {
        color: white;
        font-family: sans-serif;
    }

    .form-control {
        opacity: 0.6;
        max-width: 50%;
        margin-left: 25%;
        border-radius: 25px;
    }

    .modal-body form label {
        color: white;
        font-family: sans-serif
    }

    .form-control::placeholder {
        color: black;
        opacity: 1; /* Firefox */
    }
</style>


@code {

}
