*:focus {
    outline: none !important;
}

.firstpart {
    background-image: url('./WhatsApp\ Image\ 2021-05-12\ at\ 12.54.37\ AM.jpeg');
    background-size: cover;
    padding-bottom: 150px;
}

#particles-js {
    position: absolute;
}

.row {
    margin-left: 10px;
    margin-right: 15px;
}

.top-bar {
    background-color: rgba(255, 255, 255, 0.2);
    padding-bottom: 15px;
}

.top-bar-left {
    margin-top: 10px;
}

span {
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
}

.mainspan {
    margin-left: 20px;
}

i {
    color: white;
}

.signupbtn {
    background: #1AAB8A;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin-top: 15px;
    float: right;
    transform: translate(-50%,-20%);
    border-radius: 5px;
}

    .signupbtn:hover {
        background: #fff;
        color: #1AAB8A;
    }

.loginbtn {
    background: #2980b9;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin-top: 15px;
    float: right;
    transform: translate(-50%,-20%);
    border-radius: 5px;
}

    .loginbtn:hover {
        background: white;
        color: #2980b9;
    }

.modal-content {
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(5px);
}

.modal {
    background-color: rgba(100, 100, 100, 0);
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

.modal-title {
    color: white;
    font-family: sans-serif;
}

.form-control {
    opacity: 0.6;
    max-width: 50%;
    margin-left: 25%;
    border-radius: 25px;
}

.modal-body form label {
    color: white;
    font-family: sans-serif
}

.form-control::placeholder {
    color: black;
    opacity: 1; /* Firefox */
}
