<html>
<head>
    <title> Home Page </title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            background-color: lightgray;
        }

        .main-row {
            margin: 8%;
            background-color: white;
            box-shadow: 0 0 10px 10px rgba(0, 0, 0, .05);
            border-radius: 0.5rem;
        }

        .blog-img {
            width: 100%;
            height: 100%;
            transform: translateY(-30px);
            object-fit: cover;
            border-radius: 0.5rem;
            box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3);
        }

        .blog-date span {
            color: #962c51;
        }

        .blog-title > h2 {
            font-style: normal;
            font-weight: 400;
        }

        .blog-desc > p {
            font-style: normal;
            line-height: 2;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" href="#">NavBar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
        </ul>
    </nav>
    <br>
    <div class="text-center">
        <button type="submit" class="btn btn-primary"><b>Create Post</b></button>
    </div>
    <div class="container">
        <div class="row main-row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="blog-img">
                    <img src="" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="blog-user">
                    <a href=""><h3>Saira</h3></a>
                </div>
                <div class="blog-date mb-2">
                    <span>June 12 2021</span>
                </div>
                <hr>
                <div class="blog-title mb-3">
                    <h2>Blog Post Design</h2>
                </div>
                <div class="blog-desc mb-2">
                    <p>Pakistan is my country</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>