<footer>
    <div class="container-fluid footerdiv mt-5 row " style=" padding-bottom: 50px; margin-left: 0; ">
        <div class="footericons col-md-4">
            <ul>
                <li>
                    <a href="#"><i class="bi bi-facebook"></i></a>

                </li>
                <li>
                    <a href="#"> <i class="bi bi-google"></i></a>

                </li>
                <li>
                    <a href="#"><i class="bi bi-linkedin"></i></a>

                </li>
                <li>
                    <a href="#"><i class="bi bi-twitter"></i></a>

                </li>
            </ul>

        </div>

        <div class="footerlinks col-md-4">
            <h5 style="color: white;">For Candidates</h5>
            <a href="/jobs">All Jobs</a>
        </div>

        <div class="footerlinks col-md-4">
            <h5 style="color: white;">For Companies</h5>
            <a href="/companies">All Companies</a>
        </div>



        <div class="container text-center mt-5" style="color: white;">
            <hr class="horiz" style="color: white;">
            © JD Jobs. All rights reserved.
        </div>

    </div>

</footer>

@code {

}
